In [2]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Carga desde un archivo .xlsx sin indice
data = pd.read_excel('inmuebles2.xlsx')

In [4]:
#Convertir DataFrame a CSV
data.to_csv("inmuebles2.csv")

In [ ]:
#Carga desde un archivo .csv sin indice
data= pd.read_csv('inmuebles2.csv') 
data

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias
data2= data1.drop(['0','Referencia'], axis=1)
data2

In [33]:
#Identificar valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [47]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Sustituir valores nulos con promedio o media
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos con mediana
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [16]:
#Eliminamos filas con nulos
data4= data3.dropna(1)
data4

C:\Users\alfre\AppData\Local\Temp\ipykernel_10044\1929231857.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data4= data3.dropna(1)

      Superficie  Precio Venta
0          291.0     2133903.0
1          185.0     1945424.0
2           82.0     1121906.0
3          285.0     1121906.0
4          152.0      185000.0
...          ...           ...
3332       221.0     1450644.0
3333        55.0      454080.0
3334        78.0      740688.0
3335        88.0      397408.0
3336       170.2     2140712.0

[3337 rows x 2 columns]

In [21]:
#Corroboramos valores nulos
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
#Sustituir valores nulos por un valor numérico en  concreto 
#Filtro por columnas
#Actividad_total=data4.iloc[ : , [6]]
data2["Fecha Alta"]= data2["Superficie"].fillna(4)

In [ ]:
#Sustituir valores nulos por un string en  concreto 
#Filtro por columnas
data2["Fecha Alta"] =data2["Fecha Alta"].fillna("10 de ago en 14:14") 
data2

In [ ]:
#Corroboramos valores nulos
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data2["Fecha Alta"] =data2["Fecha Alta"].fillna(method="ffill") 
data2

In [ ]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data2["Fecha Alta"] =data2["Fecha Alta"].fillna(method="bfill") 
data2

In [36]:
#Obtenemos la cuenta de los elementos nulos del dataframe completo
Cuenta_Total_Nulos= data4.isnull().sum().sum()
Cuenta_Total_Nulos

0

In [ ]:
#Realizamos histograma de variables cuantitativas
plt.hist(x=data4["Superficie"], color='blue', rwidth=0.50)
plt.title('Histograma de Superficies')
plt.xlabel('Superficies')
plt.ylabel('Frecuencia')

plt.show() #dibujamos el histograma

In [29]:
# Apilar los __DataFrames__ uno encima del otro
vertical_concat = pd.concat([data2, data], axis=0)


# Coloque los __DataFrames__ de lado a lado
horizontal_concat = pd.concat([data2, fecha], axis=1)